:root {
  --primary:                                      #F25CA2;
  --secondary:                                    #0433BF;
  --black:                                        #000;
  --white:                                        #fff;
  --success:                                      #00A65A;
  --warning:                                      #E0A800;
  --danger:                                       #C82333;
  --link:                                         #007DFF;
  --gray-1:                                       #f2f2f7;
  --gray-2:                                       #e5e5ea;
  --gray-3:                                       #d1d1d6;
  --gray-4:                                       #c7c7cc;
  --gray-5:                                       #aeaeb2;
  --gray-6:                                       #8e8e93;
  --bg-body:                                      #fafafa;
  --bg-bw:                                        #f6f6f9;
  --bg-bw-rv:                                     #1c1d1f;
  --border:                                       var(--gray-2);
  --text-title:                                   #1c1d1f;
  --text-subtitle:                                #3a3a3c;
  --text-paragraph:                               #48484a;
  --text-overline:                                #8e8e93;
  --webfont-family:                               Manrope, sans-serif;
  --webfont-size:                                 16px;
}

.theme-dark {
  --gray-1:                                       #1c1d1f;
  --gray-2:                                       #2c2c2e;
  --gray-3:                                       #3a3a3c;
  --gray-4:                                       #48484a;
  --gray-5:                                       #636366;
  --gray-6:                                       #8e8e93;
  --bg-body:                                      #0a0a0a;
  --bg-bw:                                        #131414;
  --bg-bw-rv:                                     #f2f2f7;
  --border:                                       var(--gray-2);
  --text-title:                                   #f2f2f7;
  --text-subtitle:                                #d1d1d6;
  --text-paragraph:                               #c7c7cc;
  --text-overline:                                #8e8e93;
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/zyk_admin/fonts/Manrope/Manrope-Regular.woff2") format("woff2"), url("/zyk_admin/fonts/Manrope/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/zyk_admin/fonts/Manrope/Manrope-SemiBold.woff2") format("woff2"), url("/zyk_admin/fonts/Manrope/Manrope-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/zyk_admin/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2"), url("/zyk_admin/fonts/Manrope/Manrope-ExtraBold.woff") format("woff");
}

h1,
.h1 {
  font-weight: 700;
}

h2,
.h2 {
  font-weight: 700;
}

h3,
.h3 {
  font-weight: 700;
}

h4,
.h4 {
  font-weight: 700;
}

h5,
.h5 {
  font-weight: 700;
}

h6,
.h6 {
  font-weight: 700;
}

.btn.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #f68bbd;
}

.btn.btn-primary:not(:disabled):active, .btn.btn-primary:not(.disabled):active {
  background-color: var(--primary);
  border-color: var(--primary);
}

.datepicker-dropdown {
  background-color: var(--bg-bw);
  position: absolute;
  z-index: 1070 !important;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.datepicker-dropdown table td,
.datepicker-dropdown table th {
  width: 36px;
  height: 36px;
  font-size: 0.875rem;
}

.datepicker-dropdown table tr td.day.today {
  background-color: var(--secondary);
  background-image: none;
  color: var(--white);
}

.datepicker-dropdown table tr td.day.today:hover {
  background-color: #f68bbd;
  color: var(--white);
}

.datepicker-dropdown table tr td.day.active {
  background-color: var(--primary);
  background-image: none;
  color: var(--white);
}

.datepicker-dropdown table tr td.day.active:hover {
  background-color: #0540f1;
  color: var(--white);
}

.datepicker-dropdown table tr td span.month.active {
  background-color: var(--primary);
  background-image: none;
  color: var(--white);
}

.datepicker-dropdown table tr td span.month.active:hover {
  background-color: #0540f1;
  color: var(--white);
}

.datepicker-dropdown table thead tr th {
  font-weight: 500;
}

body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.page {
  height: 100%;
  background-color: var(--bg-body);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.page .page-navside,
.page .page-content {
  height: 100%;
}

.page .page-navside {
  width: 250px;
  background-color: var(--bg-bw);
}

.page .page-navside .navside-toggle {
  display: none;
}

.page .page-navside .navside-brand {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-navside .navside-brand a {
  display: block;
}

.page .page-navside .navside-brand a img {
  width: 70px;
}

.page .page-navside .navside-menu {
  height: calc(100% - 130px);
  padding: 1.5rem 0.75rem;
  overflow-x: hidden;
  overflow-y: overlay;
}

.page .page-navside .navside-menu::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.page .page-navside .navside-menu::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #d1d1d1;
  border-radius: 3px;
  -webkit-transition: 300ms ease-in-out 300ms;
  transition: 300ms ease-in-out 300ms;
}

.page .page-navside .navside-menu::-webkit-scrollbar-thumb:hover {
  width: calc($size + 4px);
  background-color: #b3b3b3;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out 300ms;
  transition: 300ms ease-in-out 300ms;
}

.page .page-navside .navside-menu .menu-group {
  margin-bottom: 1.5rem;
}

.page .page-navside .navside-menu .menu-group:last-child {
  margin-bottom: 2rem;
}

.page .page-navside .navside-menu .menu-group .menu-group-heading {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item {
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item:last-child {
  margin-bottom: 0;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item:hover {
  background-color: var(--gray-1);
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item.active {
  background-color: var(--primary);
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item.active:hover {
  background-color: var(--primary);
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item.active a {
  color: var(--white);
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item a {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0.5rem 1rem;
  color: var(--text-subtitle);
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item a i {
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item a.btn-toggle-menu-expand {
  max-width: 24px;
  padding: 0;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item a.btn-toggle-menu-expand i {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item a.btn-toggle-menu-expand i.rotated {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-item .badge {
  margin-right: 1rem;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-expand {
  padding-left: 1.5rem;
  display: none;
}

.page .page-navside .navside-menu .menu-group .menu-group-wrapper .menu-group-expand .menu-group-item a {
  font-size: 0.875rem;
}

.page .page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 250px);
          flex: 1 0 calc(100% - 250px);
  -webkit-box-shadow: -8px 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: -8px 0 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.page .page-content .page-header {
  height: 60px;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-header .page-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-header .page-header-left > * {
  margin-right: 0.5rem;
}

.page .page-content .page-header .page-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-header .page-header-right > * {
  margin-left: 0.5rem;
}

.page .page-content .page-header .page-header-right .dropdown.dropdown-notification .dropdown-menu {
  min-width: 15rem;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: overlay;
}

.page .page-content .page-header .page-header-right .dropdown.dropdown-notification .dropdown-menu::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.page .page-content .page-header .page-header-right .dropdown.dropdown-notification .dropdown-menu::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #d1d1d1;
  border-radius: 3px;
  -webkit-transition: 300ms ease-in-out 300ms;
  transition: 300ms ease-in-out 300ms;
}

.page .page-content .page-header .page-header-right .dropdown.dropdown-notification .dropdown-menu::-webkit-scrollbar-thumb:hover {
  width: calc($size + 4px);
  background-color: #b3b3b3;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out 300ms;
  transition: 300ms ease-in-out 300ms;
}

.page .page-content .page-header .page-header-right .dropdown.dropdown-language .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-header .page-header-right .dropdown.dropdown-language .dropdown-item img {
  width: 24px;
  margin-right: 0.5rem;
}

.page .page-content .page-header .page-header-right .dropdown .btn {
  width: 40px;
  height: 40px;
  padding: 0;
  position: relative;
  border-radius: 50%;
}

.page .page-content .page-header .page-header-right .dropdown .btn img {
  width: 20px;
}

.page .page-content .page-header .page-header-right .dropdown .btn .badge {
  width: 20px;
  height: 20px;
  font-size: 0.625rem;
  position: absolute;
  top: -4px;
  right: -4px;
  z-index: 1;
  border-radius: 50%;
}

.page .page-content .page-view {
  height: calc(100% - 60px);
  padding: 0 1.5rem;
  overflow-x: hidden;
  overflow-y: overlay;
}

.page .page-content .page-view::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.page .page-content .page-view::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #d1d1d1;
  border-radius: 3px;
  -webkit-transition: 300ms ease-in-out 300ms;
  transition: 300ms ease-in-out 300ms;
}

.page .page-content .page-view::-webkit-scrollbar-thumb:hover {
  width: calc($size + 4px);
  background-color: #b3b3b3;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out 300ms;
  transition: 300ms ease-in-out 300ms;
}

.page .page-content .page-view .view-header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-view .view-header .view-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-view .view-header .view-header-left > * {
  margin-right: 0.5rem;
}

.page .page-content .page-view .view-header .view-header-left .header-navigation h6.subtitle-md {
  font-weight: 600;
  color: var(--text-overline);
}

.page .page-content .page-view .view-header .view-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-view .view-header .view-header-right > * {
  margin-left: 0.5rem;
}

.page .page-content .page-view .popup.popup-update .popup-dialog .popup-content .popup-body .row .list-images .row .item-image {
  height: 230px;
  margin-bottom: 1.5rem;
  position: relative;
}

.page .page-content .page-view .popup.popup-update .popup-dialog .popup-content .popup-body .row .list-images .row .item-image:hover > .btn-remove-image {
  opacity: 1;
}

.page .page-content .page-view .popup.popup-update .popup-dialog .popup-content .popup-body .row .list-images .row .item-image > .btn-remove-image {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  opacity: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-content .page-view .popup.popup-update .popup-dialog .popup-content .popup-body .row .list-images .row .item-image .mask {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */